@mixin flex-box($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

$image_width_mibol: 100%;
$text_width_mibol: 100%;

$image_width_tablet: 50%;
$text_width_tablet: 50%;

$image_width_laptop: 35%;
$text_width_laptop: 65%;

.article {
    width: 100%;
    margin-top: 45px;
    border-bottom: 1px solid grey;
    line-height: 1.5em;
    overflow: hidden;
    &__first-screen {
        &__img {
            @include flex-box($direction: row, $justify: center, $align: center);
            overflow: hidden;
            & img {
                display: block;
                width: 100%
            }
        }
        &__text {
            @include flex-box($direction: column, $justify: center, $align: flex-start);
            text-align: justify;
            padding: 30px;
            box-sizing: border-box;
            width: $text_width_mibol;
        }
    }
    &__first-story {
        &__img {
            @include flex-box($direction: row, $justify: center, $align: center);
            overflow: hidden;
            & img {
                display: block;
                width: 100%;
            }
        }
        &__text {
            text-align: justify;
            @include flex-box($direction: column, $justify: center, $align: flex-start);
            padding: 30px;
            box-sizing: border-box;
            width: $text_width_mibol;
        }
    }
    &__second-story {
        &__img {
            @include flex-box($direction: row, $justify: center, $align: center);
            overflow: hidden;
            & img {
                display: block;
                width: 100%;
            }
        }
        &__text {
            text-align: justify;
            @include flex-box($direction: column, $justify: center, $align: flex-start);
            padding: 30px;
            box-sizing: border-box;
            width: $text_width_mibol;
        }
    }
    button {
        height: 40px;
        width: 100px;
        text-transform: uppercase;
        background-color: rgba(240, 248, 255, 0);
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: none;
    }
  }
  
@media (min-width: 600px) {
  
    .article {
        &__first-screen {
            display: flex;
            height: calc(100vh - 45px);
            min-height: 480px;
            &__img {
                width: 50%;
                order: 1;
                & img {
                    height: 100%;
                    width: auto;
                }
            }
            &__text {
                width: 50%;
            }
        }
        &__first-story {
            display: flex;
            height: 450px;
            &__img {
                width: $image_width_tablet;
                & img {
                    height: 100%;
                    width: auto;
                }
            }
            &__text {
                width: $text_width_tablet;
            }
        }
        &__second-story {
            display: flex;
            height: 450px;
            &__img {
                width: $image_width_tablet;
                order: 1;
                & img {
                    height: 100%;
                    width: auto;
                }
            }
            &__text {
                width: $text_width_tablet;
            }
        }
        
    } 
}
  
  @media (min-width: 850px) {
    .article {
        margin-top: 80px;
        &__first-screen {
            height: calc(100vh - 80px);
            min-height: 500px;
            max-height: 1000px;
            h1 {
                font-size: 35px;
            }
        }
        &__first-story {
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
           &__img {
            width: $image_width_laptop;
           } 
           &__text {
            width: $text_width_laptop;
           } 
        }
        &__second-story {
           &__img {
            width: $image_width_laptop;
           } 
           &__text {
            width: $text_width_laptop;
           } 
        }
    }  
}