@import "features";
@import "article";
@import "form";
@import "gallery";
@import "header";

@mixin flex-box($direction) {
    width: 100%;
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

@mixin margins-all-zero {
    margin: 0;
    padding: 0;
}

body {
    @include flex-box($direction: column);
    @include margins-all-zero;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    @include flex-box($direction: column);
    max-width: 540px;
    margin-left: 5px;
    margin-right: 5px;
}

.social_network {
    @include flex-box($direction: row);
    gap: 5px;

    div{
        @include flex-box($direction: row);
        overflow: hidden;
        border: 1px solid gray;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        filter: opacity(50%);
        transition: 0.5s;
        
        &:hover {
            filter: opacity(100%);
        }

        img {
            width: 70%;
        }
    }

    &+div {
        @include flex-box($direction: row);
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

button {
    height: 40px;
    width: 100px;
    text-transform: uppercase;
    background-color: rgba(149, 68, 241, 0);
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: none;
}

@media (min-width: 600px) {
    div.container {
      max-width: 1000px;
      @include margins-all-zero;
      font-size: 18px;
    }
  }
  
@media (min-width: 850px) {
    div.container {
      max-width: 2000px;
    }
}